*.exe
ProkardTimingSource/CrazyKartActivation/bin/Debug/CrazyKartActivation.pdb
*.Cache
ProkardTimingSource/CrazyKartActivation/obj/x86/Debug/CrazyKartActivation.exe
*.pdb
*.exe
ProkardTimingSource/Prokard Timing/bin/Debug/Prokard_Timing.pdb
ProkardTimingSource/CrazyKartActivation/bin/Debug/CrazyKartActivation.exe
*.exe
ProkardTimingSource/CrazyKartActivation/bin/Debug/CrazyKartActivation.exe
*.pdb
ProkardTimingSource/Prokard Timing/obj/x86/Debug/Prokard_Timing.exe
*.Cache
*.cache
Debug/
Debug/
.vs/

*.orig
